.cabecalho {
    display: flex;
    justify-content: space-between;
    margin: 1.6em 7em;
    align-items: center;
    font-weight: 500;
}

.cabecalho__logo {
    display: flex;
    align-items: center;
    color: var(--cor-cinza-escuro);
    gap: 1em;
}

.cabecalho__menu {
    margin-right: 15em;
}

.cabecalho__menu-itens {
    display: flex;
    gap: 2.4em;
    list-style: none;
}

.cabecalho__acoes {
    display: flex;
    align-items: center;
    gap: 1.6em;
}