.cabecalho {
    display: flex;
    justify-content: space-between;
    margin: 1.6em 7em;
    align-items: center;
}

.cabecalho__logo {
    display: flex;
    align-items: center;
}

.cabecalho__menu {
    display: flex;
    gap: 2.4em;
}

.cabecalho__acoes {
    display: flex;
    align-items: center;
    gap: 1.6em;
}