.metricas__container {
    display: flex;
    /* width: 70%; */
    align-items: center;     /* Centraliza na vertical */
    justify-content: center; /* Centraliza na horizontal */
    padding: 0 10em;
}

.metricas__item {
    width: 33.33%;
    height: auto;
}

.metricas__titulo {
    font-weight: 600;
    color: var(--cor-vinho);
    font-size: 3.75em;
}

.metricas__subtitulo {
    font-weight: 600;
    color: var(--cor-cinza-escuro);
    font-size: 1.125em;
    padding-top: 0.75em;
}