@import url("./cabecalho.css");
@import url("./primeira-sessao.css");
@import url("./metricas.css");

:root {
    --cor-branca: #fff;
    --cor-vinho: #8E2424;
    --cor-cinza: #667085;
    --cor-cinza-escuro: #101828;
    --cor-cinza-muito-escuro: #1D2939;
    --cor-vermelho: #C3191908;
}

body {
    background-color: var(--cor-branca);
    font-family: 'Inter', sans-serif;
    color: var(--cor-cinza);
    font-weight: 400;
}

.botao-vinho {
    background-color: var(--cor-vinho);
    color: var(--cor-branca);
    border: none;
    border-radius: 8px;
    padding: 0.8em 1.6em;
    font-weight: 600;
    cursor: pointer;
}